<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.bxdsander.dao.UserMapper">
    
    <resultMap id="userMap" type="User">
        <id property="userId" column="user_id"/>
        <result property="userName" column="username"/>
        <result property="passWord" column="password"/>
        <result property="status" column="status"/>
        <result property="reported" column="reported"/>
        <result property="titleTime" column="title_time"/>
        <result property="portrait" column="portrait"/>
        <result property="signature" column="signature"/>
        <result property="selfIntroduction" column="self_introduction"/>
        <result property="nickName" column="nickname"/>
        <result property="address" column="address"/>
        <result property="time" column="time"/>
        <result property="code" column="code"/>
        <result property="outTime" column="out_time"/>
    </resultMap>

<!--    用户登录时，通过userName来查找用户-->
    <select id="login" resultMap="userMap" parameterType="user">
        SELECT * FROM user
        WHERE username = #{userName}
    </select>

<!--    在user表中插入一条记录，用于用户注册-->
    <insert id="register" parameterType="user">
        INSERT INTO user(username,password,status)
        VALUES (#{userName},#{passWord},#{status})
    </insert>

<!--   通过username在user表中查找名字是否重复 -->
    <select id="repetition" resultMap="userMap" parameterType="user">
        SELECT * FROM user
        WHERE username = #{userName}
    </select>

<!--    更新user表中的个人信息-->
    <update id="personAge" parameterType="user">
        UPDATE user SET
        signature = #{signature},
        self_introduction = #{selfIntroduction},
        nickname = #{nickName},
        address = #{address}
        WHERE username = #{userName}
    </update>

<!--    更新user表中用户头像-->
    <update id="portrait" parameterType="user">
        UPDATE user SET
        portrait = #{portrait}
        WHERE username = #{userName}
    </update>

<!--    通过username来查询用户信息-->
    <select id="userInfoByUserName" parameterType="java.lang.String" resultMap="userMap">
        SELECT * FROM user
        WHERE username = #{userName}
    </select>

<!--    通过userId来查询user-->
    <select id="userInfoByUserId" resultMap="userMap" parameterType="java.lang.Integer">
        SELECT * FROM user
        WHERE user_id = #{userId}
    </select>

<!--    用来user找回密码-->
    <update id="userUpdate" parameterType="user">
        UPDATE user
        SET code = #{code},out_time = #{outTime}
        WHERE username = #{userName}
    </update>

</mapper>